<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.hidm.booksharingscore.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.hidm.booksharingscore.entity.User">
        <id property="id" column="id" />
        <result property="userName" column="employeeno"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
    </resultMap>
    
    <select id="selectUser" resultMap="BaseResultMap">
	select * from t_user
	<where>
<!-- 	 	  <if test="id != null and id != 0"> -->
<!-- 			AND id = #{id} -->
<!-- 		  </if> -->
		  <if test="userName != null and userName != ''">
			AND employeeno = #{userName}
		  </if>
	</where>
	order by employeeno
    </select>
    
    
    <select id="selectList" resultMap="BaseResultMap">
	select * from t_user
	<where>
	    <if test="user != null">
		  <if test="user.id != null and user.id != 0">
			AND id = #{user.id}
		  </if>
		  <if test="user.userName != null and user.userName != ''">
			AND employeeno = #{user.userName}
		  </if>
		</if>
	</where>
	order by id desc
	<if test="page != null">
	    limit #{page.rowStart}, #{page.rows}
	</if>
    </select>
    
    <select id="count" resultType="int">
	select count(*) from t_user
	<where>
	    <if test="user != null">
		  <if test="user.id != null and user.id != 0">
			AND id = #{user.id}
		  </if>
		  <if test="user.userName != null and user.userName != ''">
			AND employeeno = #{user.userName}
		  </if>
		</if>
	</where>
    </select>
    
    <insert id="insert">
        INSERT INTO t_user(id, employeeno, email, add_time)
        VALUES(#{id}, #{userName}, #{email}, #{addTime})
    </insert>
    
    <update id="updateById">
        UPDATE t_user SET   
            email=#{email}
        WHERE id=#{id}
    </update> 
    
    <delete id="deleteByIds">
        delete from t_user
        WHERE id in
        <foreach collection="array" open=" (" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </delete>
    
	<select id="selectUserByIdList" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        *
        from
        t_user
        where id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="selectUserByEmployeeNoList" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        *
        from
        t_user
        where employeeno in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>    
</mapper>
