<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="vendors/bootstrap/dist/css/bootstrap.min.css">
<script type="text/javascript" src="vendors/jquery/jquery.min.js"></script>
<script type="text/javascript" src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
	var retoken = '${reToken}';
	$(function(){
		self.location.href = "/booksharingscore/skipMain?token=" + retoken;
	});
</script>
</head>
<body style="margin:5px;">

</body>
</html>