	<link rel="stylesheet" href="vendors/bootstrap-table/1.12.1/bootstrap-table.min.css">
	<link rel="stylesheet" href="vendors/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css">
	<script type="text/javascript" src="vendors/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
	<script type="text/javascript" src="vendors/bootstrap-table/1.12.1/bootstrap-table-zh-CN.min.js"></script>
	<script type="text/javascript" src="vendors/bootstrap-select-1.12.4/dist/js/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="vendors/bootstrap-select-1.12.4/dist/js/i18n/defaults-zh_CN.min.js"></script>
	<script type="text/javascript" src="js/business/receive.js"></script>
	<link rel="stylesheet" href="vendors/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" media="screen">
	<script type="text/javascript" src="vendors/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
	
	<script type="text/javascript">
		$(function(){
			
			$('#importInfoTable').bootstrapTable({
				pagination: true,
				cache:false,
				pageNumber:1,
				pageSize:10,
				pageList: [1, 10, 25, 50],
				sidePagination: "server",
				height:530,
			    columns: [{
			        checkbox: true,
			        select: false,
			    }, {
			        field: 'org',
			        title: 'ORG'
			    }, {
			        field: 'freightType',
			        title: 'Freight Type'
			    }, {
			        field: 'goodsCodeName',
			        title: 'Goods Code'
			    }, {
			        field: 'irNo',
			        title: 'IR NO'
			    }, {
			        field: 'declarationNo',
			        title: 'Declaration No '
			    }, {
			        field: 'declarationTime',
			        title: 'Declaration Date',
			        formatter: declarationTimeFormatter
			    }, {
			        field: 'statusDesc',
			        title: 'Status'
			    }, {
			        field: 'id',
			        title: 'id',
			        visible: false
			    }],
			    url : '/importexport/receive/search',
			    queryParams : function (params) {
                    var temp = {   
                        rows: params.limit,                         //页面大小
                        page: (params.offset / params.limit) + 1,   //页码
                        sort: params.sort,      //排序列名  
                        sortOrder: params.order, //排位命令（desc，asc） 
                        statusArray: [2,3]
                    };
                    return temp;
                },
		        clickToSelect: true
			});
			updateSelectByUrl("goodsCode", "allgoodscodes", '/importexport/allgoodscodes');
			updateSelectByUrl("org", "allOrgs", '/importexport/allOrgs');
			updateSelectByUrl("freightType", "allFreightTypes", '/importexport/allFreightTypes');
			updateSelectByUrl("packingType", "allPackingTypes", '/importexport/allPackingTypes');
			updateSelectByUrl("appType", "allAppTypes", '/importexport/allAppTypes');
			updateSelectByUrl("freightTerm", "allFreightTerms", '/importexport/allFreightTerms');
			updateSelectByUrl("carType", "allCarTypes", '/importexport/allCarTypes');
			
			$('.form_date').datetimepicker({
				format: 'yyyy-mm-dd',
		        language:  'zh-CN',
		        weekStart: 1,
		        todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				minView: 2,
				forceParse: 0
		    });
		});
	</script>
	
	<h4>收货管理</h4>
	
	<div id="listDiv">
	<div id="searchDiv">
        <div class="row">
          <div class="col-sm-3">
            <div class="input-group">
            <span class="input-group-addon">IR No:</span>
            <input id="irNo" class="form-control">
            </div>
          </div>
          <div class="col-sm-3">
            <button id="search-file-btn" class="btn btn-primary" type="button" onclick="doSearch()">搜索</button>
          </div>
        </div>
	</div>
	
	<div class="btn-group" style="margin-top:2px;margin-bottom:2px">
        <button id="view-button" type="button" class="btn btn-default" onclick="view()">查看</button>
    </div>
	<table id="importInfoTable"></table>
	</div>
	
	<#include "edit.html">